body{
  background: #0d1015;
  font-family: "Bona Nova", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f5f5f5;
}
.span{
color: #aad0ff;
}
h2{
  font-family: "Bona Nova SC", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #ffeb57;
    margin-bottom: 48px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 18px;
  }
  h2{
    font-size: 48px;
  }
}