.footer-container{
  padding-top: 40px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #aad0ff;
}
.footer-text{
  font-family: "Bona Nova", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
    text-align: right;
    color: #aad0ff;
}
@media only screen and (min-width: 1440px) {
  .footer-navigation{
    text-align: end;
  }
  .footer-text{
    font-size: 12px;
  }
}